body {
  padding-top: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #ddd;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#container {
    width: 960px;
    margin: 50 auto;
}

#contentcolumn {
    max-width: 760px;
}
#q {
    width: 150px;
}

img {
    max-width: 90%;
}

.postbox {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 20px 40px;
}

.footerbox {padding: 15px; text-align: center; margin-bottom: 15px;}

td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}

.caption {
    /* Issue 292 */
    text-align: center;
}

div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sidebar, div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning {
    /* Issue 277 */
    border: 1px solid #aaa;
    border-radius: 5px;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

.p_image_embed img,
.posterous_bookmarklet_entry iframe,
.posterous_bookmarklet_entry object {
  display: block;
  width: 500px;
  margin: 1em auto;
}

.postbox ul li {
  margin-bottom: 1em;
}

.postbox p,
.posterous_quote_citation {
  margin: 1em auto 2em auto;
  max-width: 500px;
  line-height: 1.75em;
}

.postbox div>ul,
.postbox div>ol {
  margin: -1em auto 1em auto;
  max-width: 500px;
  padding-left: 5em;
}

h1 small {
  display: block;
  font-size: 0.5em;
}
