<p>Projects we've successfully completed so far:</p>
<ul>
<li><a href="../posts/converting-an-atx-computer-power-supply-to-a.html">Converting an ATX computer power supply to a 12V DC supply for battery charger</a></li>
<li><a href="../posts/turnigy-9x-transmitter-mode-1-to-mode-2-conve.html">Turnigy 9X transmitter Mode 1 to Mode 2 conversion</a></li>
<li><a href="../posts/axn-floater.html">AXN Floater R/C plane</a></li>
<li><a href="../posts/axn-floater-repairs.html">Repairing the AXN Floater</a></li>
<li><a href="../posts/an-ardupilot-of-my-own.html">ArduPilot setup</a></li>
<li><a href="../posts/programming-an-ardupilot-mode-switch-for-turn.html">Turnigy 9X mode switch for ArduPilot</a></li>
<li><a href="../posts/li-ion-battery-modification-for-turnigy-9x.html">Li-Ion battery modification for Turnigy 9x</a></li>
<li><a href="../posts/adding-a-stabilising-gyro-to-the-axn-floater.html">Adding a stabilising gyro to the AXN Floater</a></li>
<li><a href="../posts/an-attempted-rebuild.html">Rebuilding the AXN Floater as a "stick"</a></li>
</ul>
