<p>Photos, videos and notes from our flights:</p>
<ul>
<li><a href="../posts/axn-floater-session-1.html">First AXN Floater flights</a></li>
<li><a href="../posts/aerial-photos-of-croydon.html">Aerial photos of Croydon</a></li>
<li><a href="../posts/morning-axn-floater-flying.html">Morning AXN Floater flying</a></li>
<li><a href="../posts/more-axn-floater-videos.html">More AXN Floater videos</a></li>
<li><a href="../posts/violet-town-flights.html">Violet Town flight video and photos</a></li>
<li><a href="../posts/dog-exercise.html">Photos, Nettleton park, 29 March</a></li>
<li><a href="../posts/april-fool-flying.html">Photos, April 1st</a></li>
<li> <a href="../posts/royal-park-photos.html">Photos, Royal Park</a> and a <a href="../posts/royal-park-video-stabilisation-post-processed.html">video</a> too.</li>
<li> <a href="../posts/ardupilot-test-flights.html">ArduPilot test flight</a> and data logger visualisation</li>
<li><a href="../posts/to-err-is-human-to-really-screw-up-requires-a.html">ArduPilot test flight and AXN Floater crash</a></li>
</ul>
