<p>Resources we've found around the web relating to RCAV and UAVs.</p>
<p>Controllers</p>
<ul>
<li> <a href="http://newwiki.openpilot.org/display/Doc/OpenPilot+Documentation">OpenPilot Documentation</a>&nbsp;</li>
<li> <a href="http://diydrones.com/notes/ArduPilot">ArduPilot</a> from DIYDrones</li>
<li> <a href="http://rcexplorer.se/files/e0d3a2987412f58a049e67d3f4aceb87-248.html">KK Multicopter</a> controller</li>
</ul>
<p>Multi-rotor (Tricopters and Quadcopters)</p>
<ul>
<li> <a href="http://aeroquad.com/">Aeroquad</a> - instructions and parts list for a quadcopter</li>
<li> <a href="http://code.google.com/p/arducopter/wiki/ArduCopter_Quad">ArduCopter</a> - Based on the ArduPilotMega controller</li>
<li> <a href="http://www.kiwirc.com/">KiwiRC.com</a> - A New Zealand site specialising in multi-rotor copters, some based on the KK Multicopter.  
<ul>
<li><a href="http://shop.kiwirc.com/index.php?main_page=product_info&amp;cPath=4&amp;products_id=1">KKuK controller</a></li>
<li><a href="http://shop.kiwirc.com/index.php?main_page=product_info&amp;cPath=2&amp;products_id=2">KiwiBlue quad frame</a></li>
</ul>
</li>
<li>Frames    
<ul>
<li><a href="http://oldwiki.openpilot.org/OpenPilot_Easy_Quad">OpenPilot Easy Quad</a></li>
<li>Jakub's folding <a href="http://www.kkmulticopter.com/index.php?option=com_content&amp;view=article&amp;id=118%3Ajakub-js-folding-kktricopter-frame&amp;catid=54%3Akktricopter-airframes&amp;Itemid=63">tricopter frame</a>
</li>
<li><a href="http://www.rcgroups.com/forums/showthread.php?t=768115">More QuadCopter design ideas</a></li>
</ul>
</li>
</ul>
<p>Information</p>
<ul>
<li> <a href="http://dronepedia.com/index.php?title=Main_Page">Dronepedia</a>&nbsp;</li>
<li> <a href="http://twit.tv/floss148">Floss 148 podcast on OpenPilot</a> </li>
<li><a href="http://rcflightsim.com/">ClearView RC flight simulator</a></li>
</ul>
<p>Reviews</p>
<ul>
<li><a href="http://www.rcmodelreviews.com/reviews.shtml">RC Model Reviews</a></li>
<li><a href="http://rcexplorer.se/">RCExplorer</a></li>
</ul>
<p>Parts</p>
<ul>
<li><a href="http://www.hobbyking.com/">HobbyKing</a></li>
<li> <a href="http://www.multiwiicopter.com/collections/all">Multiwiicopter</a> (Australian)</li>
<li> <a href="http://www.baskindustries.com/aerospace/store/">Bask Industries</a> (Melbourne, Australia)</li>
</ul>
